{% extends 'TTMainBundle:Default:base.html.twig' %}

{% use 'TTMainBundle:Default:carousel.html.twig' %}

{% block title %}Home{% endblock %}

{% block navbar %}
{{ include('TTMainBundle:Default:navbar.html.twig') }}
{% endblock %}

{% block carousel_images %}
<div class="item active">
  <img src="{{ asset('img/indy1.png') }}">
  <div class="carousel-caption rounded shaded">
    {{ blurb1 | markdown }}
  </div>
</div>
<div class="item">
  <img src="{{ asset('img/indy2.png') }}">
  <div class="carousel-caption rounded shaded">
    {{ blurb2 | markdown }}
  </div>
</div>
<div class="item">
  <img src="{{ asset('img/indy4.png') }}">
  <div class="carousel-caption rounded shaded">
    {{ blurb3 | markdown }}
  </div>
</div>
<div class="item">
  <img src="{{ asset('img/indy5.png') }}">
  <div class="carousel-caption rounded shaded">
    {{ blurb4 | markdown }}
  </div>
</div>
<div class="item">
  <img src="{{ asset('img/indy8.png') }}">
  <div class="carousel-caption rounded shaded">
    {{ blurb5 | markdown }}
  </div>
</div>
<div class="item">
  <img src="{{ asset('img/indy12.png') }}">
  <div class="carousel-caption rounded shaded">
    {{ blurb6 | markdown }}
  </div>
</div>
{% endblock %}

{% block content %}
<div class="col-xs-12 hidden-sm hidden-md hidden-lg">
  {{ blurb1 | markdown }}
</div>
<div class="col-xs-12 hidden-sm hidden-md hidden-lg">
  {{ blurb2 | markdown }}
</div>
<div class="col-xs-12 hidden-sm hidden-md hidden-lg">
  {{ blurb3 | markdown }}
</div>
<div class="col-xs-12 hidden-sm hidden-md hidden-lg">
  {{ blurb4 | markdown }}
</div>
<div class="col-xs-12 hidden-sm hidden-md hidden-lg">
  {{ blurb5 | markdown }}
</div>
<div class="col-xs-12 hidden-sm hidden-md hidden-lg">
  {{ blurb6 | markdown }}
</div>
{% endblock %}

